body
{
    background-image: url("../images/cork-wallet.png");
    background-repeat: repeat;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
ul
{
   list-style-type: none;
   padding-top:30px;
}
.nav
{
 clear:both;
}
#main-content
{
  width:960px;
  padding-left:270px;
  padding-right:270px;
}
li
{
  float:right;
}
li a 
{
   display: block;
   color: white;
   text-align: center;
   padding: 30px 40px;
   font-size:20px;
   text-decoration:none;
   background-color:white;
   color:#ddd;
}
.active
{
  background-color:#4aaaa5;
  padding:30px 80px;
}
#about-box
{
   margin-top:100px;
   background-color:white;
   color:grey;
   float:left;
   width:700px; 
   padding:20px;
}
#form-box
{
   margin-top:100px;
   background-color:white;
   color:grey;
   float:left;
   width:600px; 
   padding:20px;
}
#portfolio-box
{
   margin-top:100px;
   background-color:white;
   color:grey;
   float:left;
   width:600px; 
   padding:20px;
}
#connect-box
{
   margin-top:100px;
   background-color:white;
   color:grey;
   float:right;
   width:200px; 
   padding:20px;
}
h1
{
   font-size:30px;
   text-decoration:none;
   color:#4aaaa5;
   text-decoration:Bold;
}
h2
{
   font-size:20px;
   text-decoration:none;
   color:#4aaaa5;
   text-decoration:Bold;
}
p
{
	font-size:20px;
}
#footer
{
	background-color:grey;
	width:100%;
	height:60px;
	line-height:60px;
	text-align: center;
	font-size: 10px;
	border-top:10px;
	border-color:#4aaaa5;
	border-style: solid;
	margin-top:50px;

}
#clear
{
	clear:both;
}
form
{
	font-size:20px;
	line-height: 30px;
}
.button
{
   background-color:#4aaaa5 ;
   border: none;
   padding: 10px 20px;
   border-radius: 2px;
   cursor: pointer;
   color:white;
   font-size: 15px;
}
#img-box
{
	position:relative;
	border:2px;
	border-color: black;
	border-style: solid;
	width:230px;
	height:230px;
	margin:30px 30px 30px 30px;

}
#label
{
	position: absolute;
    top:150px;
	background-color:#4aaaa5;
	color: white;
	line-height:50px;
	font-size: 30px;
	width:230px;
	height:50px;
	text-align: center;

}

